@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
}

.header{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
.logo{
    height: 100%;
}
.logo img{
    height: 60%;
    width: auto;
    margin: 30px;
}
.nav div *{
    margin: 30px;
    text-decoration: none;
    color: white;
    font-size: 1.7em;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.nav{
    margin-right: 5em;
}
.menu-icon{
    display: none;
    margin-right: 4%;
    font-size: 2em;
    color: white;
}


@media screen and (max-width: 1000px){
    .menu-icon{
        display: block;
    }
    .nav{
        display: none;
        margin-right: 0;
    }
    .side-menu{
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        background-color: white;
        height: 100vh;
        width: 18em;
        max-width: 20em;
    }
    .side-menu div{
        margin-top: 20px;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
    .side-menu div *{
        color: rgba(17,66,223,255);
        font-size: 100%;
        margin-top: 10px;
    }
    .hide{
        display: none;
        opacity: 0;
        width: 0;
        height: 0;
    }
}

@media screen and (max-width: 650px){
    .side-menu{
        width: 18em;
    }
    .side-menu div *{
        font-size: 100%;
        margin: 20px;
    }
}






.scroll-image{
    width: 100%;
}
.scroll-image *{
    width: 100%;
    height: auto;
}