@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400..900&display=swap');


:root{
    --base-margin: 30px;
    --font-princ-size: 2.5em; 
    --font-second-size: 1.3em; 
}
.container-tot{
    display: flex;
    justify-content: center;
    height: fit-content;
    flex-direction: column;
    width: 100%;
}
.dishes{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    width: 100%;
    height: fit-content;
}
.antipasti{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/*
.antipasti ul:before{
    content: attr(aria-label);
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-size: 4em;
    font-weight: bold;
    color: white;
    /*text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
               1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}*/
.antipasti h2 {
    font-size: 4em;
    color: white;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: italic;
}
.plates{
    height: fit-content;
    display: grid;
    grid: none;
}
.plates *{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.princ-title, .second-title{
    list-style: none;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: italic;
    color: white;
    font-weight: 500;
    /*text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
               1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;*/
}
.princ-title{
    font-size: var(--font-princ-size);
    margin-top: var(--base-margin);
    font-weight: 500;
}
.second-title{
    font-size: var(--font-second-size);
}
/*
.wallpapers{
    position: absolute;
    width: 100%;
    height: fit-content;
}
.wallpapers *{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(70%);
}*/


@media screen and (max-height: 1050px){
    .dishes{
        margin-top: 100px;
    }
    .princ-title{
        font-size: 2em;
        margin-top: 20px;
    }
    .second-title{
        font-size: 1.1em;
    }
    .antipasti h2{
        font-size: 3.5em;
    }
}

@media screen and (max-height: 810px){
    
    .dishes{
        margin-top: 70px;
    }
    .princ-title{
        font-size: 1.7em;
        margin-top: 20px;
    }
    .antipasti h2{
        font-size: 2.8em;
    }
}
@media screen and (max-height: 700px){
    .princ-title{
        font-size: 1.3em;
        margin-top: 20px;
    }
    .second-title{
        font-size: 0.9em;
    }
    .antipasti h2{
        font-size: 2.2em;
    }
    .dishes{
        margin-top: 90px;
    }
}
@media screen and (max-height: 450px){
    .second-title{
        font-size: 0.7em;
    }
    .dishes{
        margin-top: 50px;
    }
    .plates{
        grid-template-columns: repeat(2, 200px);
        width: 400px;
        grid-template-rows: repeat(4, 60px);
    }
}
@media screen and (max-height: 380px){
    
    .dishes{
        margin-top: 50px;
    }
    
}