@import url("https://fonts.googleapis.com/css?family=Courgette|Roboto");

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
}

blockquote {
  position: relative;
  padding-left: 1.5rem;
  font-family: "Courgette", serif;
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: -0.05rem;
}
blockquote:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  background-color: #A9DFBF;
  border-radius: 60px;
}

.container-tot figure {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: brightness(70%);
}

.hero {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  max-height: 200vh;
}

.hero-inner {
  position: absolute;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  height: fit-content;
  clip: rect(0, auto, auto, 0);
  display: flex;
}

.flex-column{
  display: flex;
  flex-direction: column;
}
.flex-row{
  display: flex;
  flex-direction: row;
  gap: 6em;
  max-width: 100%;
}
.justify-center{
  justify-content: center;
}
.align-center{
  align-items: center;
}
.center{
  justify-content: center;
}

@supports (-webkit-overflow-scrolling: touch) {
  .hero-inner {
    clip: unset;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@media screen and (max-width: 1200px){
  .flex-row{
      gap: 2em;
  }
}
@media screen and (max-width: 700px){
  .flex-row{
      gap: 0;
  }
}
@media screen and (max-height: 900px) and (max-width: 600px){
  .flex-row{
      gap: 0;
  }
}
