@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&display=swap');


:root{
    --base-margin: 30px;
    --font-princ-size: 2.5em; 
    --font-second-size: 1.3em; 
}

.services{
    text-align: center;
    width: 100vw;
    z-index: 98;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.services h1{
    font-family: "Briem Hand", cursive !important;
  font-optical-sizing: auto !important;
  font-weight: 500 !important;
  font-style: normal !important;
    font-size: 15em;
    color: white;
}
.container-tot{
    display: flex;
    justify-content: center;
    height: fit-content;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.dishes{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    height: fit-content;
}
.antipasti{
    margin-top: 120px;
}
.piatti{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    text-align: center;
    width: 90%;
}
.piatti h2, .princ-title, .second-title, .h3,
.sub-li-princ, .sub-li-sec {
    list-style: none;
    color: white;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: italic;
    font-weight: 500;
}
.piatti h2{
    font-size: 4.6em;
    font-weight: 700;
}
.plates{
    height: fit-content;
    justify-content: center;
    max-width: 700px;
    width: fit-content;
}
.plates, .sub-plates{
    text-align: center;
}
.one-row{
    grid: none;
    display: grid;
}
.two-rows{
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.h3{
    font-size: 3.5em;
}

.plate{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.princ-title, .second-title{
    list-style: none;
}
.sub-li-princ, .princ-title{
    margin-top: var(--base-margin);
    font-size: var(--font-princ-size);
    font-weight: 500;
}
.second-title, .sub-li-sec{
    font-size: var(--font-second-size);
}
.sub-title{
    width: 90%;
}
.carne{
    grid: none;
}
/*
.plates:last-child * {
    ju
  }

.wallpapers{
    position: absolute;
    width: 100%;
    height: fit-content;
}
.wallpapers *{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(70%);
}*/


/*  IMAGES  */

.hero:nth-child(1) figure {
    background-image: url("./images/menu-images/various/5.jpg");
}
.hero:nth-child(2) figure {
    background-image: url("./images/menu-images/various/1.jpg");
}
.hero:nth-child(3) figure {
    background-image: url("./images/menu-images/various/2.jpg");
}
.hero:nth-child(4) figure {
    background-image: url("./images/menu-images/various/1.jpg");
}
.hero:nth-child(5) figure {
    background-image: url("./images/menu-images/various/3.jpg");
}

.hero:nth-child(6) figure {
    background-image: url("./images/menu-images/various/6.jpg");
}
.hero:nth-child(7) figure {
    background-image: url("./images/menu-images/various/1.jpg");
}
.hero:nth-child(8) figure {
    background-image: url("./images/menu-images/various/7.jpg");
}
.hero:nth-child(9) figure {
    background-image: url("./images/menu-images/various/1.jpg");
}
@media screen and (max-height: 1050px){
    .antipasti{
        margin-top: 50px;
    }
    .h3{
        font-size: 3em;
    }
    .princ-title, .sub-li-princ{
        font-size: 2em;
        margin-top: 20px;
    }
    .sub-li-princ{
        font-size: 1.8em;
    }
    .second-title, .sub-li-sec{
        font-size: 1.1em;
    }
}

@media screen and (max-height: 900px){
    .princ-title{
        font-size: 1.7em;
        margin-top: 20px;
    }
    .piatti h2{
        font-size: 4em;
    }
    .h3{
        font-size: 2.8em;
    }
    .sub-li-princ{
        font-size: 1.4em;
    }
    .sub-li-sec{
        font-size: 0.9em;
    }
}
@media screen and (max-height: 800px){
    .dishes{
        margin-top: 20px;
    }
    .princ-title{
        font-size: 1.3em;
        
    }
    .sub-li-princ, .princ-title{
        margin-top: 20px;
    }
    .second-title{
        font-size: 0.9em;
    }
    .piatti h2{
        font-size: 3.2em;
    }
    .h3{
        font-size: 2.5em;
    }
}
@media screen and (max-height: 600px){
    .princ-title{
        font-size: 1.6em;
    }
    .second-title{
        font-size: 0.9em;
    }
    .plates, .pesce{
        grid-template-columns: repeat(3, 30%);
    }
    
}
@media screen and (max-height: 590px){
    .piatti h2{
        font-size: 2.8em;
    }
    .h3{
        font-size: 2em;
    }
    .antipasti{
        margin-top: 30px;
    }
    .princ-title{
        font-size: 1.8em;
        margin-top: 0;
    }
    .second-title{
        font-size: 0.8em;
    }
    .sub-li-princ{
        font-size: 110%;
    }
    .sub-li-sec{
        font-size: 60%;
    }
}
@media screen and (max-height: 380px){
    .princ-title{
        font-size: 1.6em;
    }
    .two-rows{
        grid-template-columns: repeat(3, 30%);
    }
}
@media screen and (max-height: 30px){
    .piatti h2{
        font-size: 2em;
    }
    .princ-title{
        font-size: 1.2em;
    }
    .dishes{
        margin-top: 20px;
    }
    .plates, .pesce{
        grid-template-rows: repeat(4, 50px);
    }
}
@media screen and (max-width: 800px) and (min-height: 700px){
    .two-rows{
        grid-template-columns: repeat(2, 50%);
    }
}


@media screen and (max-width: 1050px){
    .services h1{
        font-size: 12em;
    }
}

@media screen and (max-width: 770px){
    .services h1{
        font-size: 10em;
    }
}
@media screen and (max-width: 630px){
    .services h1{
        font-size: 7em;
    }
}
@media screen and (max-width: 450px){
    .services h1{
        font-size: 5.5em;
    }
}
