@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400..900&display=swap');


:root{
    --base-margin: 30px;
    --font-princ-size: 2.5em; 
    --font-second-size: 1.3em; 
}
.container-tot{
    display: flex;
    justify-content: center;
    height: fit-content;
    flex-direction: column;
    width: 100%;
}
.dishes{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    width: 100%;
    height: fit-content;
}
.piatti{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/*
.antipasti ul:before{
    content: attr(aria-label);
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-size: 4em;
    font-weight: bold;
    color: white;
    /*text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
               1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}*/
.piatti h2, .princ-title, .second-title, .h3,
.sub-li-princ, .sub-li-sec {
    list-style: none;
    color: white;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: italic;
    font-weight: 500;
}
.piatti h2{
    font-size: 4.6em;
    font-weight: 700;
}
.plates{
    height: fit-content;
    
    /*grid-template-columns: repeat(1, 200px);*/
    justify-content: center;
    width: 100%;
    max-width: 700px;
}
.plates, .sub-plates{
    text-align: center;
}
.one-row{
    grid: none;
    display: grid;
}
.two-rows{
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.h3{
    font-size: 3.5em;
}
.sub-plates{
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    height: 80vh;
}

.plate{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.princ-title, .second-title{
    list-style: none;
}
.princ-title{
    font-size: var(--font-princ-size);
    
    font-weight: 500;
}
.sub-li-princ, .princ-title{
    margin-top: var(--base-margin);
}
.second-title{
    font-size: var(--font-second-size);
}
.sub-title{
    width: 90%;
}
/*
.plates:last-child * {
    ju
  }

.wallpapers{
    position: absolute;
    width: 100%;
    height: fit-content;
}
.wallpapers *{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(70%);
}*/


/*  IMAGES  */

.hero:nth-child(1) figure {
    background-image: url("./menu-images/various/5.jpg");
  }
  .hero:nth-child(2) figure {
    background-image: url("./menu-images/various/1.jpg");
  }
  .hero:nth-child(3) figure {
    background-image: url("./menu-images/various/2.jpg");
  }
  .hero:nth-child(4) figure {
    background-image: url("./menu-images/various/3.jpg");
  }

@media screen and (max-height: 1050px){
    .dishes{
        margin-top: 100px;
    }
    .h3{
        font-size: 3.2em;
    }
    .princ-title{
        font-size: 2em;
        margin-top: 20px;
    }
    .second-title{
        font-size: 1.1em;
    }
}

@media screen and (max-height: 900px){
    .dishes{
        margin-top: 50px;
    }
    .princ-title{
        font-size: 1.7em;
        margin-top: 20px;
    }
    .piatti h2{
        font-size: 4em;
    }
    .h3{
        font-size: 2.8em;
    }
    .sub-li-princ{
        font-size: 1.4em;
    }
    .sub-li-sec{
        font-size: 0.9em;
    }
}
@media screen and (max-height: 800px){
    .dishes{
        margin-top: 20px;
    }
    .princ-title{
        font-size: 1.3em;
        
    }
    .sub-li-princ, .princ-title{
        margin-top: 20px;
    }
    .second-title{
        font-size: 0.9em;
    }
    .piatti h2{
        font-size: 3.2em;
    }
    .h3{
        font-size: 2.5em;
    }
}
@media screen and (max-height: 600px){
    .princ-title{
        font-size: 1.6em;
    }
    .second-title{
        font-size: 0.9em;
    }
    .plates, .sub-plates{
        grid-template-columns: repeat(3, 30%);
        grid-template-rows: repeat(3, 90px);
    }
    .sub-plates{
        grid-template-rows: repeat(auto-fill, 70px);
    }
    
}
@media screen and (max-height: 590px){
    .piatti h2{
        font-size: 2.8em;
    }
    .princ-title{
        font-size: 1.8em;
        margin-top: 0;
    }
    .second-title{
        font-size: 0.8em;
    }
    .sub-li-princ{
        font-size: 110%;
    }
    .sub-li-sec{
        font-size: 60%;
    }
}
@media screen and (max-height: 380px){
    .princ-title{
        font-size: 1.6em;
    }
    .two-rows{
        grid-template-columns: repeat(3, 30%);
        grid-template-rows: repeat(4, 80px);
    }
}
@media screen and (max-height: 300px){
    .piatti h2{
        font-size: 2em;
    }
    .princ-title{
        font-size: 1.2em;
    }
    .dishes{
        margin-top: 20px;
    }
    .plates, .sub-plates{
        grid-template-rows: repeat(4, 50px);
    }
}
@media screen and (max-width: 800px) and (min-height: 700px){
    .two-rows{
        grid-template-columns: repeat(2, 50%);
    }
}
